<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs')%>
</head>

<body>
    <%- include ('../partials/header.ejs')%>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">¿Eliminaras tu cuanta?</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni neque voluptatum,
                    dignissimos ut corrupti doloremque obcaecati quam qui totam sint deleniti exercitationem, rem quasi
                    ratione quidem nisi alias. Inventore, excepturi!</p>
            </div>
            <div class="card-footer">
                <a href="/" class="btn btn-primary">No</a>
                <a href="/deleteAccount/confirm" class="btn btn-primary">Yes</a>
            </div>
        </div>
    </div>
    <%- include ('../partials/footer.ejs')%>
</body>

</html>