<!-- <nav class="navbar navbar-expand navbar-light blur fixed-top">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <% if(!user) { %>
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/Login">Login</a>
            <% } else { %>
            <a class="nav-item nav-link" href="/profile">My profile</a>
            <a class="nav-item nav-link" href="/upload">Upload</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        <% } %>
    </div>
</nav> -->


<header>
    <div class="nav-container">
        <ion-icon class="nav-close" name="close" id="close-toggler"></ion-icon>
        <div class="nav-grid">
            <div class="logo">eJapanese</div>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item"><a href="#" class="nav-item-link">example1</a></li>
                    <li class="nav-item"><a href="#" class="nav-item-link">example2</a></li>
                </ul>
            </nav>
            
            <div class="nav-redes">
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-linkedin"></ion-icon>
                <ion-icon name="logo-github"></ion-icon>
            </div>
        </div>
    </div>
</header>