@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
$first-font: 'Teko', sans-serif;
    //colores
$first-color: rgb(90, 173, 228);
$second-color: rgb(219, 219, 219);
$third-color: rgb(51, 60, 71);

    //medidas
$header-height: 4rem;
$md-font: .945rem;
$sm-font: .817rem;
$z-index: 10;
$icon-size: 3rem;